
{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Choose payment option" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <!-- <p>{% trans "This page needs implementing within your project.  You may want to use one of Oscar's payment gateway libraries:" %}</p> -->
        <!-- <ul>
            <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-oscar-paypal</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-adyen">django-oscar-adyen</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-docdata">django-oscar-docdata</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-oscar-accounts</a></li>
        </ul> -->
        <div class="paypal-btn">
            <a class="ml-2">Paypal</a>
            <img src="{% static 'img/mpesa.png'%}" alt="paypal_logo" class="paypal-logo img-fluid">
        </div>
        <div class="mpesa-btn">
            <a class="ml-2">Mpesa</a>
            <img src="{% static 'img/mpesa.png'%}" alt="paypal_logo" class="mpesa-logo img-fluid">
        </div>
        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-outline-dark btn-lg">{% trans "Continue" %}</a>
    {% endblock payment_details_content %}
{% endblock payment_details %}