{% extends "oscar/checkout/layout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load static %}
{% block title %}
{% blocktrans with number=order.number %}
Order {{ number }}: confirmation
{% endblocktrans %} | {{ block.super }}
{% endblock title %}
{% block checkout_nav %}
{% include 'oscar/checkout/nav.html' with step=5 %}
{% endblock %}
{% block checkout_title %}
{% blocktrans with number=order.number %}
Order {{ number }}: confirmation
{% endblocktrans %}
{% endblock %}
{% block content %}
    <p class="lead">
        {% blocktrans with number=order.number %}
        Your order has been placed and a confirmation email has been sent - your order number is
        <strong>{{ number }}</strong>.
        {% endblocktrans %}
        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}
    </p>
<div class="row shipping-payment">
    <div class="col-sm-6">
        {% block shipping_info %}
        <div class="sub-header">
            <h2>{% trans "Shipping" %}</h2>
        </div>
        <div class="card card-body bg-light">
            <h3>{% trans "Address" %}</h3>
            {% if order.shipping_address %}
            <address>
                {% for field in order.shipping_address.active_address_fields %}
                {{ field }}<br />
                {% endfor %}
            </address>
            {% if order.shipping_address.phone_number %}
            <h4>{% trans "Contact" %}</h4>
            <p>
                {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                {% if order.guest_email %}
                <br />{% trans "Email" %}: {{ order.guest_email }}
                {% endif %}
            </p>
            {% endif %}
            {% if order.shipping_address.notes %}
            <h4>{% trans "Instructions" %}</h4>
            <p>{{ order.shipping_address.notes|linebreaks }}</p>
            {% endif %}
            {% else %}
            <p>{% trans "No shipping address required." %}</p>
            {% endif %}
        </div>
        <div class="card card-body bg-light">
            <h3>{% trans "Shipping method" %}</h3>
            <p>{{ order.shipping_method }}</p>
        </div>
        {% endblock %}
    </div>
</div>
{% block order_contents %}
<div class="sub-header">
    <h2>{% trans "Order contents" %}</h2>
</div>
<div class="basket-title">
    <div class="row">
        <p class="col-sm-9 h4">{% trans "Items purchased" %}</p>
        <p class="col-sm-1 h4 text-center">{% trans "Quantity" %}</p>
        <p class="col-sm-2 h4 text-right">{% trans "Total" %}</p>
    </div>
</div>
{% for line in order.lines.all %}
<div class="basket-items">
    <div class="row">
        <div class="col-sm-2">
            <div class="image_container w-100">
                {% with image=line.product.primary_image %}
                {% oscar_thumbnail image.original "200x200" upscale=False as thumb %}
                <a href="{{ line.product.get_absolute_url }}">
                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-thumbnail w-auto mx-auto my-0">
                </a>
                {% endwith %}
            </div>
        </div>
        <div class="col-sm-7">
            <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
            {% if line.upc %}<p>{{ line.upc }}</p>{% endif %}
        </div>
        <div class="col-sm-1 text-center">
            {{ line.quantity }}
        </div>
        <div class="col-sm-2 text-right">
            <p class="price_color">
                {% if show_tax_separately %}
                {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                {% else %}
                {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% block basket_totals %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row mb-4">
    <div class="col-sm-6">
        <div class="payment">
            <div class="paypal-btn">
                <a class=" paypal-link p-2" href="#">Lipa Mdogo Mdogo <span style="color: tomato;">(Not available at the moment)</span></a>
            </div>
            <div class="mpesa-btn-thank">
                <!-- Button trigger modal -->
                <div type="button" data-toggle="modal" data-target="#exampleModal">
                    Mpesa
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Lipa na Mpesa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="https://fundizshop.herokuapp.com/api/payments/lipa/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="number" class="form-control" id="phoneNumber"
                                            placeholder="0714065404" name='phoneNumber'>
                                        <label for="amount">Amount</label>
                                        <input type="number" class="form-control mt-2" id="total"
                                            name='total', value="{{order.total_incl_tax}}" placeholder="{{order.total_incl_tax}}" readonly>
                                    </div>
                                    <button type="submit" class="btn btn-warning">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="paypal-button-container"></div>
        <script
            src="https://www.paypal.com/sdk/js?client-id=AfSSXg_k6UlnOnZBgTfYxqoNSleT5UCQo_n5FzprDQIjL-7QaHpzXnqgea-qnJr7jbZMeI-DdZ-Z9Iw7&currency=USD"></script>
    </div>
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans 'Totals' %}</h2>
        </div>
        {% include 'oscar/order/partials/basket_totals.html' %}
    </div>
</div>
{% endblock basket_totals %}
{% endblock order_contents %}
{% block order_tracking %}
{% if not order.user %}
<div class="sub-header">
    <h2>{% trans "Tracking your order" %}</h2>
</div>
<p>{% trans "You can track the status of your order" %}
    <a class="btn btn-primary"
        href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View
        order status" %}</a>.
</p>
{% endif %}
{% endblock %}
{% block order_actions %}
<div class="form-group">
    <div class="row">
        <div class="col-sm-4">
            <p><a onclick="window.print()" href="#" class="btn btn-primary btn-block btn-lg">{% trans "Print this page" %}</a></p>
        </div>
        <div class="col-sm-4 offset-sm-4">
            <p><a href="{{ homepage_url }}" class="btn btn-primary btn-block btn-lg">{% trans "Continue shopping" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock order_actions %}
<script>
    let total = '{{ order.total_incl_tax }}'
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    let total_to_usd = total / 100
    total_to_usd = Math.round((total_to_usd + Number.EPSILON) * 100) / 100
    console.log(total_to_usd)
    var orderId = '{{order.number}}'
    function completeOrder() {
        console.log('finish');
        var url = "{% url 'complete' %}"
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'orderId': orderId, 'status': 'success', 'paid': total_to_usd })
        })
    }
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total_to_usd
                    }
                }]
            });
        },
        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                completeOrder()
                Swal.fire('Transaction completed by ' + details.payer.name.given_name + '!', 'success');
                document.getElementById('paypal-button-container').style.display = 'none'
                window.location = "https://fundizshop.herokuapp.com/";
            });
        }
    }).render('#paypal-button-container');
</script>
{% endblock content %}
{% block tracking %}
{% if send_analytics_event %}
{% include "oscar/partials/google_analytics_transaction.html" %}
{% endif %}
{% endblock %}